In [1]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [67]:
movie = pd.read_csv("/Users/jiwonkwun/Asac/Bechdel-IMDB-project/movies_org.csv", index_col=0, converters={'imdbid': lambda x: str(x)})

In [68]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9601 entries, 0 to 9600
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   imdbid            9601 non-null   object
 1   title             9601 non-null   object
 2   year              9601 non-null   object
 3   imdb_rating       9569 non-null   float64
 4   estimated budget  7151 non-null   object
 5   world gross       7151 non-null   object
 6   id                9601 non-null   float64
 7   year_y            9601 non-null   float64
 8   bechdel_rating    9601 non-null   float64
dtypes: float64(4), object(5)
memory usage: 750.1+ KB

In [69]:
movie.rename(columns={'world gross': 'world_gross', 'estimated budget':'estimated_budget'},inplace=True)

In [70]:
movie

,imdbid,title,year,imdb_rating,estimated_budget,world_gross,id,year_y,bechdel_rating
0,3155794,Passage de Venus,1874,6.8,NaN,NaN,9602.0,1874.0,0.0
1,14495706,La Rosace Magique,1877,5.8,NaN,NaN,9804.0,1877.0,0.0
2,2221420,Sallie Gardner at a Gallop,1878,7.4,NaN,NaN,9603.0,1878.0,0.0
3,12592084,Le singe musicien,1878,6.0,NaN,NaN,9806.0,1878.0,0.0
4,7816420,Athlete Swinging a Pick,1881,5.1,NaN,NaN,9816.0,1881.0,0.0
...,...,...,...,...,...,...,...,...,...
9596,10954600,Ant-Man and the Wasp: Quantumania,2023,6.2,"$200,000,000 (estimated)","$474,579,171",10756.0,2023.0,3.0
9597,12844910,Pathaan,2023,6.0,"$17,487,476","$128,780,000",10728.0,2023.0,3.0
9598,10365998,Infinity Pool,2023,6.1,"$5,078,400","$5,181,707",10737.0,2023.0,2.0
9599,14209916,Cocaine Bear,2023,6.0,"$35,000,000 (estimated)","$87,170,346",10779.0,2023.0,3.0
9600,25971180,Les choses simples,2023,7.1,"$35,000,000 (estimated)","$87,170,346",10785.0,2023.0,1.0

In [71]:
movie.drop(columns=['id','year_y'], inplace=True)

In [72]:
movie['estimated_budget'] = movie['estimated_budget'].fillna('')

In [73]:
movies = movie

In [74]:
movies['world_gross'] = movies['world_gross'].str.replace('$','')

In [75]:
movies['world_gross'] = movies['world_gross'].str.replace(',','')

In [76]:
movies.rename(columns={'world_gross': 'world_gross($)'}, inplace=True)

In [125]:
movies

,imdbid,title,year,imdb_rating,estimated_budget,world_gross($),bechdel_rating
0,3155794,Passage de Venus,1874,6.8,,0,0.0
1,14495706,La Rosace Magique,1877,5.8,,0,0.0
2,2221420,Sallie Gardner at a Gallop,1878,7.4,,0,0.0
3,12592084,Le singe musicien,1878,6.0,,0,0.0
4,7816420,Athlete Swinging a Pick,1881,5.1,,0,0.0
...,...,...,...,...,...,...,...
9596,10954600,Ant-Man and the Wasp: Quantumania,2023,6.2,"$200,000,000 (estimated)",474579171,3.0
9597,12844910,Pathaan,2023,6.0,"$17,487,476",128780000,3.0
9598,10365998,Infinity Pool,2023,6.1,"$5,078,400",5181707,2.0
9599,14209916,Cocaine Bear,2023,6.0,"$35,000,000 (estimated)",87170346,3.0
9600,25971180,Les choses simples,2023,7.1,"$35,000,000 (estimated)",87170346,1.0

In [115]:
movies['world_gross($)'] = movies['world_gross($)'].fillna('')
# movies['world_gross($)'].fillna('').astype(int)

In [114]:
movies[movies['world_gross($)'].str.contains(' ')]

Empty DataFrame
Columns: [imdbid, title, year, imdb_rating, estimated_budget, world_gross($), bechdel_rating]
Index: []

In [113]:
movies.loc[5437,'world_gross($)'] = '82360'

In [119]:
movies['world_gross($)'] = movies['world_gross($)'].replace('','0')

In [122]:
movies['world_gross($)'] = movies['world_gross($)'].astype(int)

In [126]:
movies.to_csv('movies_org1.csv')